<h1>
    <header>
        
        <a href = '/'> Home </a> </br>
        <a href = '/about'> About </a>
    </header>
    <p>
        This is {{ file-type}} header.. From header.hbs
    </p>
        
</h1>