<!DOCTYPE html>
<html>
    <head>
        {{> header}}
    </head>
    <body>
        <p1>
            This is {{ file-type}} body
            
            </br>
            {{> footer}}
        </p1>
    </body>
</html>