<!DOCTYPE html>
<html>
    <head>
        
            {{> header}} 
            {{!-- dont give .hbs here --}}
        
    </head>
    <body>
        <p1>
            This is {{ file-type}} body..
            <p> <b> this is welcome text for home page - {{ convertUpper welcome-text}} </b></p>
            
            </br>
            {{> footer}}
        </p1>
    </body>
</html>